.no-js{
  margin:0;
  padding: 0;
  background: black;
  color: white;
  position:relative;
}
main{
  display: flex;
  flex-direction: row;
}
.left-section{
  display: grid;
  grid-template-columns: 1fr;
}
.article1{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.article1> p {
  width: 160px;
  
}
.title{
  position: abslute;
  font-size: 150px;
  font-family: sans-serif;
  padding-left: 120px;
}
.main-under{
  display: flex;
  flex-direction: row;
}



.right-section{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.right-section > picture> .main-img{
  width: 600px;
}