ul li{
    display: inline;
    list-style-type: none;
    margin: 35px;
}
.sidebar {
    display: block;
    float: right;
}
#main-pic{
    width: 800px;
}
.sidebar2{
    display: block;
    float: right;
    margin-right: 3em;
}