ul li{
    display: inline;
    list-style-type: none;
    margin: 35px;
}
.sidebar {
    display: block;
    float: right;
}
#main-pic{
    width: 800px;
}
.sidebar2{
    display: block;
    float: right;
    margin-right: 3em;
}
h1{
    font-size: 25px;
}
.sidebar3{
    display: block;
    margin-right: 3em;
}
#pic1 {
    width: 350px;
    height: 220px;
}
h3{
    margin-left: 6em;
    margin-top: -1.5em;
}
a{
    text-decoration: none;
}