</div>

<footer>
    <div class="art">
        <div class="content1">
            <section>
                <header>GENERAL</header><br>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> info@cleanupbritain.org</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i>Media enquiries: 07774 476 391</p>
                <p><i class="fa fa-globe" aria-hidden="true"></i>www.cleanupbritain.org</p>
            </section>
            <section>
                <header>CLEAN UP BRITAIN</header><br>
                <p><i class="fa fa-home" aria-hidden="true"></i>87a High Street</p>
                <p>The Old Twon</p>
                <p>Hertfordshire</p>
                <p>HP13AH</p>
            </section>
            <section>
                <header>CONTACT US</header><br>
                <h4></h4>
                <input type="email" placeholder="please enter your Email"><br><br>
                <textarea name="text" id="" cols="30" rows="4"></textarea><br>
                <button type="submit">Send</button>
            </section>
        </div>
    </div>
</footer>

</body>
</html>
