<%- include('../_partial/_header'); -%>

<div class="ind">
    <img src="https://bb10.dk/wp-content/uploads/2019/07/The-Earth-Lets-Clean-up-without-paper-Black-Bagground-open-door-kost-Papirstykker.jpg" alt="">
</div>

<%- include ('../_partial/_footer'); -%>