<%- include('../_partial/_header'); -%>
<!-- <div class="col-md-8">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Sign Up</h3>
        </div>
        <div class="panel-body">
            <form class="form-signin" method="POST" action="/signup">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="email" class="form-control" placeholder="Email address" name="email"
                        aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input type="password" class="form-control" placeholder="Re-password"
                        aria-describedby="basic-addon1" name="repassword">
                </div>

                <input type="submit" class="btn btn-default navbar-btn" value="Sign Up" />

            </form>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <h4 class="company_title"><img src="https://cleanupbritain.org/wp-content/themes/cleanup/images/logo.png" alt="" width="150px" height="75px"></h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Sign Up</h2>
                </div>
                <div class="row">
                    <form method="POST" action="/signup" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="username" class="form__input" placeholder="Username">
                        </div>
                        <div class="row">
                            <input type="email" name="email" id="email" class="form__input" placeholder="Email address">
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                        </div>
                        <div class="row">
                            <input type="password" name="repassword" id="password" class="form__input" placeholder="Re-password">
                        </div>
                        <div class="row">
                            <input type="submit" value="Sign Up" class="btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('../_partial/_footer'); -%>