<%- include('../_partial/_header'); -%>
<div id="SM">
    <h1>Our Social Media </h1>
    <p>visit us and look up to our work</p>
    <div class="media">
        <ul>
           <li><a href="https://www.facebook.com/CleanUpBritain/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li> 
           <li><a href="https://www.youtube.com/channel/UCt_Kvy3Wc5cMnrkM_zQ7tGQ"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li> 
           <li><a href="https://twitter.com/cleanupbritain?lang=en#:~:text=Clean%20Up%20Britain%20(%40cleanupbritain)%20%7C%20Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> 
           
        </ul>
    </div>
</div>

<%- include ('../_partial/_footer'); -%>