body {
    display: flex;
    height: 100%; 
    flex-direction: column;
  }
  header , footer{
    flex: none;
  }
  section{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: var(--space);
  }
  main{
    margin-top: var(--space);
  }
  
 nav, aside {
    padding: 1em;
    border-radius: 3px;
    background: rgba(147, 128, 108, 0.1);
  }
  
nav {
    order: -1;
  }
  body, section{
    display: flex;
    flex-direction: column;
  }
